<li class="list-group-item bg-transparent text-info  border-1 border border-secondary shadow-sm"><button class="btn btn-success text-light text-secondary w-100" (click)="createEntry()">AÑADIR</button>
</li>

<div *ngFor="let entry of Entries">
    
    <li class="list-group-item bg-transparent text-info text- border-1 border border-secondary shadow-sm" >
    <h4>{{entry.title}}</h4>
    <p>{{entry.abstract}}</p>
    <button (click)="deleteItem(entry.id)" class="btn btn-danger">BORRAR</button> 
    
    </li>
</div>
